
             <%# <link href='https://fonts.googleapis.com/css?family=Prompt:400,800' rel='stylesheet' type='text/css'> %>

    <div id="container">
      <div id="top">
        <div class="beer-foam">
          <div class="foam-1"></div>
          <div class="foam-2"></div>
          <div class="foam-3"></div>
          <div class="foam-4"></div>
          <div class="foam-5"></div>
          <div class="foam-6"></div>
          <div class="foam-7"></div>
          <div class="foam-8"></div>
          <div class="foam-9"></div>
          <div class="foam-10"></div>
          <div class="foam-11"></div>
          <div class="foam-12"></div>
          <div class="foam-13"></div>
          <div class="foam-14"></div>
          <div class="foam-15"></div>
        </div>
        <div id="liquid">
          <div class="bubble bubble1"></div>
          <div class="bubble bubble2"></div>
          <div class="bubble bubble3"></div>
          <div class="bubble bubble4"></div>
          <div class="bubble bubble5"></div>
        </div>
      </div>
      <h1>OLUT</h1>
    </div>

<div class="headline">
<h1>WELCOME TO OLUT! THE PLACE TO RATE AND DISCOVER</h1>
</div>


    <div class="search">
    <%= form_tag("/search", method: "get") do %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Find a Brew") %>
    <% end %>
    </div>


<br>
<br>
<br>
    <ul class="brands1">
      <% @beers.each do |beer| %>
      <div>
      <%= link_to beer.name, beer, {:class=> "font2"}%> <br>
      <div class="horizontal-list">
      <%= button_to "1", ratings_path, params: {rating: {user_id: 1, beer_id: beer.id, ratings:1}} %>
      <%= button_to "2", ratings_path, params: {rating: {user_id: 1, beer_id: beer.id, ratings:2}} %>
      <%= button_to "3", ratings_path, params: {rating: {user_id: 1, beer_id: beer.id, ratings:3}} %>
      <%= button_to "4", ratings_path, params: {rating: {user_id: 1, beer_id: beer.id, ratings:4}} %>
      <%= button_to "5", ratings_path, params: {rating: {user_id: 1, beer_id: beer.id, ratings:5}} %>
      </div>
      </div>
      <% end %>
    </ul>
