<h1 class="title"><%= @beer.name %></h1>

<div class="img">
<%= image_tag("beer.jpg") %>
</div>

<div class="info">
<%= @beer.category %> <br>
<%= @beer.abv %>%<br>
<%= @beer.info %>
</div>

<h1 class="location">Where to find this beer!"</h1>"
<ul class="address">
<% @beer.locations.each do |location| %>
<li> <%=  link_to "#{location.name}-#{location.address}", location_path(location), {:class=> "font"} %> <br>
  <br>
<% end %>
<ul>

<br>
<br>

<div class="rate">
Olut Rating - <%= @beer.average_rating %>
</div>
